body {
    background-color: blue;
    margin: 0;
}

/* #navBarDIV {
    position: fixed;
    width: 100vw;
    height: 12vh;
    background-color: black; */
    /* visibility: hidden;  */
    /* visibility: visible; 
    z-index: 20;
    color: whitesmoke;
} */

/* #smallFace {
    position: absolute;
    height: 10vh;
    top: 1vw;
    right: 1vw;
    visibility: visible; 
} */

#smallFace {
    position: fixed;
    height: 10vh;
    top: 1vw;
    right: 1vw;
    z-index: 20;
}

#facesContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    z-index: 15;
    visibility: hidden; 
    overflow: clip;
    opacity: 0;
    transition: opacity 0.3s;
} 

#bigFace {
    position: absolute;
    top: -100vh;
    left: 2vw;
    width: 96vw;
    visibility: visible; 
    opacity: 1;
}

.bigFaceAnimation {
    animation-name: bigFaceFallsDown;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes bigFaceFallsDown {
    0% {
        top: -100vh;
        left: 2vw;
    }
    100% {
        top: 12vh;
        left: 2vw;
    }
} 
